<%
facets_arr = PRODUCT_OPTION_FACETS + PRODUCT_PROPERTY_FACETS + PRODUCT_OTHER_FACETS + PRODUCT_SHOW_FACETS
limit = Spree::Search::SpreeSunspotConfig[:facet_display_limit]
facets_arr.each do |f|
    %>
    <% unless @searcher.sunspot.facet("#{f}_facet").rows.empty? %>
        <h6><%= t "#{f}_facet" %></h6>
        <ul>
            <% @searcher.sunspot.facet("#{f}_facet").rows.slice(0..limit).each do |row| %>
                <li><%= link_to(row.value, params.merge("#{f}_facet" => row.value)) %> (<%= row.count %>)</li>
            <% end %>
        </ul>
    <% end %>
<% end %>

<% unless @searcher.sunspot.facet(:price).rows.empty? %>
<h6><%= t "price_range" %></h6>
<ul>
    <% @searcher.sunspot.facet(:price).rows.each do |row| %>
        <li><%= link_to(t(row.value) + " (#{row.count})", params.merge("price" => row.value)) %></li>
    <% end %>
</ul>
<% end %>
